<script type="text/x-template" id="Caesar_cipher">
  <div class="posts-tab">
    <ul class="posts-sidebar">
      <li
        v-for="theme in themes"
        v-bind:key="theme.id"
        v-bind:class="{ selected: theme === selectedTheme }"
        v-on:click="selectedTheme = theme"
      >
        {{ theme.title }}
      </li>
    </ul>
    <div class="selected-post-container">
      <h3>{{ title }}</h3>
      <div
        v-if="selectedTheme"
        class="selected-post"
      >
        <h4>{{ selectedTheme.subtitle }}</h4>
        <description>
          {{ selectedTheme.description }}
        </description>
        <exercise>
          {{ selectedTheme.exercise }}
        </exercise>
      </div>
      <strong v-else>
        Click on a blog title to the left to view it.
      </strong>
      <documentation>
        {{ documentation }}
      </documentation>
    </div>
  </div>
</script>
<script type="text/x-template" id="description">
  <div>
    <slot></slot>
  </div>
</script>

<script type="text/x-template" id="exercise">
  <div>
    <slot></slot>
  </div>
</script>
<script type="text/x-template" id="documentation">
  <div>
    <slot></slot>
  </div>
</script>
